body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

header h1{
    font-size: 36px;
    margin:0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-right: 0.15em solid purple;
    animation: typingAnim 5s steps(40) 1s forwards, blinkCursor 0.5s;
}
@keyframes typingAnim{
    from{
        width: 0;
    }
    to{
        width: 27%;
    }
}
@keyframes blinkCursor{
    to{
        border-color: transparent;
    }
}
body{
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #111;
    color: #ffffff;
}
.u_text{
    color: white;
    font-weight: bold;
}
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.project img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}



header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #ffffff;
    padding: 20px 0;
}

nav ul{
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background-color: rgba(209, 36, 180, 0.233);
    border-radius: 10px;
    width: 70%;
    padding: 10px 0;
    position: fixed;
    bottom: 30px;
    left: 15%;
    z-index: 1;
}

nav li{
    margin: 0 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #8c00ff;
}

.nav-toggle {
    display: none;
}

.nav-icon{
    display: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
}
.nav-icon span{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav-icon span:nth-child(1){
    top: 10px;
}
.nav-icon span:nth-child(2){
    top: 18px;
}
.nav-icon span:nth-child(3) {
    top: 26px;
}

section{
    padding: 100px 0;
    text-align: center;
}

#about{
    background-image: url('images/background_about.jpg');
    background-size: cover;
    color: #ffffff;
    background-position: center;
    position: relative;
}

#about::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

#about p{
    font-size: 18px;
    margin-bottom: 40px;
}

.project{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    margin-bottom: 40px;
}

.project img{
    max-width: 60%;
    height: auto;
}

footer{
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        width: 100%;
        left: 0;
        border-radius: 0;
        opacity: 1;
        bottom: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

    }
    nav ul.active{
        display: flex;
    }
    nav li{
        margin: 10px 0;
    }
    .nav-icon{
        display: block;
    }
    nav a{
        margin: 0 10px;
    }
    .nav-icon{
        display: block;
    }

    .nav-toggle:checked ~ .nav-icon span:nth-child(1),
    .nav-toggle:checked ~ .nav-icon span:nth-child(3){
        transform: rotate(45deg);
    }

    .nav-toggle:checked ~ .nav-icon span:nth-child(2){
        opacity: 0;
    }

    .nav-toggle:checked ~ ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0; 
        width: 100%;
        background-color: #000;
        z-index: 1;
    }

    nav li {
        margin: 15px 0;
    }

    nav a{
        font-size: 24px;
    }
}

@media (max-width: 768px){
    header h1{
        font-size: 24px;
        border-right: none;
        animation: none;
    }
}